{% extends "manageapp/base.html" %}

{% block main-content %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
    {% endif %}
    {% endfor %}
    {% endif %}
<div class="row">
<div class="col-sm-10 mx-auto">
    <form method="post" action="{% url "userlogin" %}">
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group">
            {{fm.label}} {{fm}}
            <p><small class="text-warning">{{fm.errors|striptags}}</small></p>
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary my-2">
    </form>
    <a href="{% url "passwordresetrequest" %}" class="small">forgot your password?</a>
</div>
{% if login_left %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% elif message.tags == 'warning' %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
    {% endif %}
    {% endfor %}
    {% endif %}
{% endif %}
</div>
{% endblock main-content %}