<nav class="navbar navbar-expand-lg bg-dark navbar-dark d-flex justify-content-center">
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href='{% url "home" %}'>Home</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href='{% url "addbook" %}'>Add Book</a>
                </li>
                
               {% if not request.user.is_authenticated %}
               <li class="nav-item mx-5">
                <a class="nav-link active" aria-current="page" href='{% url "usersignup" %}'>SignUp</a>
            </li>
               <li class="nav-item mx-5">
                <a class="nav-link active" aria-current="page" href='{% url "userlogin" %}'>Login</a>
                </li>
                {% else %}
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href='{% url "userlogout" %}'>Logout</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href='{% url "showcart" %}'>Cart</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href='{% url "wishlist" %}'>Wish List</a>
                </li>
                {% endif %}
                    
            </ul>
            
        
        <form class="d-flex" method='post' action='/search/'>
            {% csrf_token %}
            <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search" maxlength="25">
            <input type="submit" class='btn btn-success' value="Search">
          </form>
        </div>
    </div>
  </nav>
  